In [98]:
# naložimo Pandas 
import pandas as pd
# import os.path



# izberemo interaktivni "notebook" stil risanja
# %matplotlib notebook
# naložimo razpredelnico, s katero bomo delali


#Uvoz podatkov-----------

pathData = "data_set - transported.csv"
data = pd.read_csv(pathData)

#------------------------

# Izpisovanje -----------
pd.options.display.max_rows = 20
pd.options.display.max_columns = len(data.columns)

# Številske stolpce Str -> Int

numberColumns = ['Deliveries', 'Attachments', 'Unique destinations']

for i in numberColumns:
    data[i] = data[i].astype(int)

# Weight stolpec Str -> float

data['Weight'] = data['Weight'].apply(lambda x: float(x.replace(',','')))

In [99]:
data

,ID,ETA status,ETA type,Difference with ETA,Deliveries,Attachments,Loading date,Loading period,Unloading date,Unloading period,ZIP - Origin,City - Origin,Region - Origin,Country - Origin,Unique destinations,ZIP - Destination,City - Destination,Region - Destination,Country - Destination,Quote request type,Quote request,Quote request currency,Quote request comment,Vehicle (Requirement),Weight,Weight unit
0,1,None,NaN,,1,0,2022-09-01,00:00 - 23:59,2022-09-05,08:00 - 17:00,52333,Potpican,NaN,HR,1,15068,Pozzolo Formigaro,NaN,IT,NaN,0.0,NaN,NaN,Truck 100 m3 NO,7707.85,kg
1,2,None,NaN,,1,0,2022-09-01,00:00 - 23:59,2022-09-05,08:00 - 17:00,52333,Potpican,NaN,HR,1,64010,Ancarano,NaN,IT,NaN,0.0,NaN,NaN,Truck 100 m3 NO,8843.54,kg
2,3,None,NaN,,1,0,2022-09-01,00:00 - 23:59,2022-09-05,07:30 - 12:00,52333,Potpican,NaN,HR,1,67100,Poggio Picenze,NaN,IT,NaN,0.0,NaN,NaN,Truck 100 m3 NO,6134.11,kg
3,4,None,NaN,,1,0,2022-09-01,00:00 - 23:59,2022-09-02,08:00 - 16:00,52333,Potpican,NaN,HR,1,37060,RONCANOVA DI GAZZO VERONESE,NaN,IT,NaN,0.0,NaN,NaN,Truck 100 m3 NO,5742.88,kg
4,5,None,NaN,,1,0,2022-09-01,00:00 - 23:59,2022-09-02,08:00 - 16:00,52333,Potpican,NaN,HR,1,20865,USMATE,NaN,IT,NaN,0.0,NaN,NaN,Truck 100 m3 NO,9327.65,kg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,387,None,NaN,,1,0,2022-08-26,00:00 - 00:00,2022-08-28,00:00 - 00:00,3273,HALMAJUGRA,NaN,HU,1,31216,Antunovac,NaN,HR,NaN,0.0,NaN,NaN,HU 24T one-way max 2 stops (5000),20197.80,kg
387,388,None,NaN,,1,0,2022-08-25,00:00 - 00:00,2022-08-25,00:00 - 00:00,3273,HALMAJUGRA,NaN,HU,1,31216,Antunovac,NaN,HR,NaN,0.0,NaN,NaN,HU 24T one-way max 2 stops (5000),22157.80,kg
388,389,None,NaN,,2,0,2022-08-24,00:00 - 00:00,2022-08-26,00:00 - 00:00,3273,HALMAJUGRA,NaN,HU,2,32270,Zupanja,NaN,HR,NaN,0.0,NaN,NaN,HU 24T one-way max 2 stops (5000),19628.00,kg
389,390,None,NaN,,1,0,2022-08-09,00:00 - 00:00,2022-08-10,00:00 - 00:00,3273,HALMAJUGRA,NaN,HU,1,34000,Požega,NaN,HR,NaN,0.0,NaN,NaN,HU 24T one-way max 2 stops (5000),20785.80,kg
390,391,None,NaN,,1,0,2022-08-03,00:00 - 00:00,2022-08-04,00:00 - 00:00,3273,HALMAJUGRA,NaN,HU,1,34000,Pozega,NaN,HR,NaN,0.0,NaN,NaN,HU 24T one-way max 2 stops (5000),20785.80,kg

In [100]:
print(data.columns)

Index(['ID', 'ETA status', 'ETA type', 'Difference with ETA', 'Deliveries',
       'Attachments', 'Loading date', 'Loading period', 'Unloading date',
       'Unloading period', 'ZIP - Origin', 'City - Origin', 'Region - Origin',
       'Country - Origin', 'Unique destinations', 'ZIP - Destination',
       'City - Destination', 'Region - Destination', 'Country - Destination',
       'Quote request type', 'Quote request', 'Quote request currency',
       'Quote request comment', 'Vehicle (Requirement)', 'Weight',
       'Weight unit'],
      dtype='object')

In [101]:
#Koliko je različnih vrednosti za posamezen stolpec?

uniqueDataDic = {}
uniqueDataDicCount = {}

for type in data.columns[1:]:
    x = data[type].unique().tolist()
    uniqueDataDic[type] = x
    uniqueDataDicCount[type] = [len(x)]

uniqueDataCount = pd.DataFrame.from_dict(uniqueDataDicCount)

uniqueDataCount

,ETA status,ETA type,Difference with ETA,Deliveries,Attachments,Loading date,Loading period,Unloading date,Unloading period,ZIP - Origin,City - Origin,Region - Origin,Country - Origin,Unique destinations,ZIP - Destination,City - Destination,Region - Destination,Country - Destination,Quote request type,Quote request,Quote request currency,Quote request comment,Vehicle (Requirement),Weight,Weight unit
0,3,2,6,3,3,59,19,64,11,3,3,1,3,3,139,145,1,7,1,1,1,1,5,165,1

In [102]:
# Iz datuma dodamo določimo mesec, dan

#Loading date -> Loading month
data['Loading date']= pd.to_datetime(data['Loading date'],format='%Y-%m-%d')

# data['Loading year']= data['Loading date'].dt.year
data['Loading month']= data['Loading date'].dt.month
# data['Loading day']= data['Loading date'].dt.day

#Unloading date -> Unloading month
#data['Unloading date']= pd.to_datetime(data['Unloading date'],format='%Y-%m-%d')
#data['Unloading month']= data['Unloading date'].dt.month

#Časovno trajanje poti

data

,ID,ETA status,ETA type,Difference with ETA,Deliveries,Attachments,Loading date,Loading period,Unloading date,Unloading period,ZIP - Origin,City - Origin,Region - Origin,...,Unique destinations,ZIP - Destination,City - Destination,Region - Destination,Country - Destination,Quote request type,Quote request,Quote request currency,Quote request comment,Vehicle (Requirement),Weight,Weight unit,Loading month
0,1,None,NaN,,1,0,2022-09-01,00:00 - 23:59,2022-09-05,08:00 - 17:00,52333,Potpican,NaN,...,1,15068,Pozzolo Formigaro,NaN,IT,NaN,0.0,NaN,NaN,Truck 100 m3 NO,7707.85,kg,9
1,2,None,NaN,,1,0,2022-09-01,00:00 - 23:59,2022-09-05,08:00 - 17:00,52333,Potpican,NaN,...,1,64010,Ancarano,NaN,IT,NaN,0.0,NaN,NaN,Truck 100 m3 NO,8843.54,kg,9
2,3,None,NaN,,1,0,2022-09-01,00:00 - 23:59,2022-09-05,07:30 - 12:00,52333,Potpican,NaN,...,1,67100,Poggio Picenze,NaN,IT,NaN,0.0,NaN,NaN,Truck 100 m3 NO,6134.11,kg,9
3,4,None,NaN,,1,0,2022-09-01,00:00 - 23:59,2022-09-02,08:00 - 16:00,52333,Potpican,NaN,...,1,37060,RONCANOVA DI GAZZO VERONESE,NaN,IT,NaN,0.0,NaN,NaN,Truck 100 m3 NO,5742.88,kg,9
4,5,None,NaN,,1,0,2022-09-01,00:00 - 23:59,2022-09-02,08:00 - 16:00,52333,Potpican,NaN,...,1,20865,USMATE,NaN,IT,NaN,0.0,NaN,NaN,Truck 100 m3 NO,9327.65,kg,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,387,None,NaN,,1,0,2022-08-26,00:00 - 00:00,2022-08-28,00:00 - 00:00,3273,HALMAJUGRA,NaN,...,1,31216,Antunovac,NaN,HR,NaN,0.0,NaN,NaN,HU 24T one-way max 2 stops (5000),20197.80,kg,8
387,388,None,NaN,,1,0,2022-08-25,00:00 - 00:00,2022-08-25,00:00 - 00:00,3273,HALMAJUGRA,NaN,...,1,31216,Antunovac,NaN,HR,NaN,0.0,NaN,NaN,HU 24T one-way max 2 stops (5000),22157.80,kg,8
388,389,None,NaN,,2,0,2022-08-24,00:00 - 00:00,2022-08-26,00:00 - 00:00,3273,HALMAJUGRA,NaN,...,2,32270,Zupanja,NaN,HR,NaN,0.0,NaN,NaN,HU 24T one-way max 2 stops (5000),19628.00,kg,8
389,390,None,NaN,,1,0,2022-08-09,00:00 - 00:00,2022-08-10,00:00 - 00:00,3273,HALMAJUGRA,NaN,...,1,34000,Požega,NaN,HR,NaN,0.0,NaN,NaN,HU 24T one-way max 2 stops (5000),20785.80,kg,8
390,391,None,NaN,,1,0,2022-08-03,00:00 - 00:00,2022-08-04,00:00 - 00:00,3273,HALMAJUGRA,NaN,...,1,34000,Pozega,NaN,HR,NaN,0.0,NaN,NaN,HU 24T one-way max 2 stops (5000),20785.80,kg,8

In [107]:
#Mesečno analiza

months = data["Loading month"].unique().tolist()

dataMonthsDic = {'Months' : months}

sumWeight = []
sumDeliveries = []
countInput = []

for month in months:
    countInput.append(len(data[data['Loading month'] == month]))
    sumWeight.append(data.loc[data['Loading month'] == month, 'Weight'].sum())
    sumDeliveries.append(data.loc[data['Loading month'] == month, 'Deliveries'].sum())

dataMonthsDic['Inputs'] = countInput
dataMonthsDic['Sum Weight'] = sumWeight
dataMonthsDic['Sum Deliveries'] = sumDeliveries


dataMonths = pd.DataFrame.from_dict(dataMonthsDic)

dataMonths


#groupby

# data.groupby('Loading month')['Weight'].sum()

   Months  Inputs  Sum Weight  Sum Deliveries
0       9       5    37756.03               5
1       8     112   966294.18             121
2       7     137  1118766.29             143
3       6     135  1080662.47             143
4       5       2    20187.04               2

In [104]:
# International trips